:root {
  --primaryFont: 'Playfair Display', serif;
  --secondaryFont: 'Raleway', sans-serif;
  --primary-color: #037bc0;
  --secondary-color: #8cbc00;
}
.bg-primary {
	background-color: #037bc0!important;
}
.title {
	font-family: 'Playfair Display', serif;
}
.title span {
	color: #037bc0;
}
.navbar {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.nav-link {
	color: #000000;
}
.nav-link:hover {
	color: #037bc0;
}

/* BG Images */
.bg-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.main-image {
	background-image: url(../img/main.jpg);
	height: 35rem;
}

/* Categories */
.categories a {
	color: #000000;
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.categories a:hover {
	text-decoration: none;
}

/* About Us */
.about-us-image {
	background-image: url(../img/aboutus.jpg);
	min-height: 35rem;
}